[Unit]
Description=Expand data partition to fill SD card
# Run very early, before any filesystem mounts.
DefaultDependencies=no
Before=data.mount local-fs.target
After=local-fs-pre.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/homehaven-expand-data
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
